*,
*::before,
*::after{
  box-sizing: border-box;
}


/* Custom Properties */
:root{
  --ff-primary: 'Rubik', sans-serif;

  --fw-ex-bold: 900;
  --fw-bold: 500;
  --fw-medium: 400;
  --fw-reg: 300;

  --clr-gray-1: hsl(270, 20%, 96%);
  --clr-gray-2: #ccc;
  --clr-gray-3: hsl(206, 6%, 79%);
  --clr-gray-4: hsl(270, 7%, 64%);
  --clr-gray-5: hsl(271, 15%, 43%);

  --clr-violet-1: hsla(276, 100%, 81%, .125);
  --clr-violet-2: hsl(276, 100%, 81%);
  --clr-violet-3: hsl(289, 100%, 72%);
  --clr-violet-4: hsl(276, 55%, 52%);
  --clr-black: hsl(271, 36%, 24%);

  --clr-gradient: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  --clr-gradient-reverse: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  --clr-gradient-vertical: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
  --fs-small: 0.75rem;

  --space-xxs:  calc(0.25 * 1rem);
  --space-xs:   calc(0.5 * 1rem); 
  --space-sm:   calc(0.75 * 1rem);
  --space-md:   calc(1.25 * 1rem);
  --space-lg:   calc(2 * 1rem);   
  --space-xl:   calc(3.25 * 1rem);
  --space-xxl:  calc(5.25 * 1rem);

  --phone-height: 450px;
}

@media all and (min-width: 1200px){
  :root{
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.1rem;
    --fs-small: 0.85rem;
    --phone-height: 500px;
  }

}

/* General Styles */
body{
  background: var(--clr-gray-1);
  color: var(--clr-black);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.1;
  min-height: 100vh;
  z-index: 1;
}

img{
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--clr-violet-1);
  outline-offset: 3px;
}

input{
  font: inherit;
  border: none;
}


/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

p{
  margin: 0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}


/* Chat */
.container{
  padding: 4em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
  min-height: 100vh;
}

@media all and (min-width: 800px){
  .container{
    flex-direction: row;
    gap: 8rem;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
  }
}

.chat{
  background: white;
  border-radius: 2rem;
  padding: 1em;
  width: 320px;
  margin: 0 auto;
  font-size: var(--fs-small);
  user-select: none;
  box-shadow: 0 0 10px rgb(100, 97, 97);
  transition:
  box-shadow 250ms ease-in-out,
  transform 500ms ease-in-out;
  cursor: pointer;
}

.chat:hover{
  box-shadow: 2px 2px 10px var(--clr-black);
  -webkit-box-shadow: 2px 2px 10px -1px var(--clr-black);
  -moz-box-shadow: 2px 2px 10px -1px var(--clr-black);
}

.chat-top{
  width: 100%;
  background: var(--clr-gradient-reverse);
  display: flex;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0 0;
  color: white;
  gap: 0.75em;
  padding: 2em 1.5em 1em;
}

.receiver-profile-pic{
  width: 40px;
  height: 40px;
  border: 2px white solid;
  object-fit: cover;
  border-radius: 50%;
}

.receiver-status{
  margin-right: auto;
}

.receiver-name{
  font-weight: var(--fw-bold);
  color: var(--clr-gray-1);
  padding: 0;
  margin: 0;
}

.receiver-availability{
  font-size: var(--fs-small);
  color: var(--clr-gray-3);
  margin: 0;
  font-weight: var(--fw-bold);
}

.receiver-chatbox{
  background: var(--clr-violet-1);
  border-radius: 1rem 1rem 1rem 0.1rem;
  padding: 0.5em;
  margin-bottom: var(--space-xs);
  width: 75%;
  color: var(--clr-violet-4);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.chat-bottom{
  background: var(--clr-gray-1);
  border-radius: 0;
  padding: 1em 1em;
  max-height: var(--phone-height);
  overflow-y: scroll;
}

.my-chatbox{
  background: white;
  color: var(--clr-gray-5);
  border-radius: 1rem 1rem 0.1rem 1rem;
  padding: 0.5em;
  margin-bottom: var(--space-xs);
  width: max-content;
  max-width: 75%;
  margin-left: auto;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
  word-wrap: break-word;
}

.my-chatbox:hover,
.receiver-chatbox:hover{
  transform: scale(0.95);
}

.receiver-chatbox + .my-chatbox,
.my-chatbox + .receiver-chatbox
{
  margin-top: var(--space-sm);
}

.image-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  background: transparent;
}

.image-grid:hover{
  transform: none;
  
}

.image-grid-item{
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.image-grid-item:hover{
  transform: scale(0.9);
}

.option{
  background: var(--clr-gradient);
  width: 75%;
  border-radius: 1em 1em 1em 0.1em;
  color: var(--clr-gray-1);
  display: flex;
  align-items: center;
  padding: 1em;
  margin-bottom: var(--space-xs);
  gap: 0.5em;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.option:hover{
  transform: scale(0.95);
}

.option-input{
  accent-color: var(--clr-violet-4);
  height: 1rem;
  width: 1rem;
}

.option-price{
  font-weight: var(--fw-bold);
  margin-left: auto;
}

.new-message{
  background: var(--clr-gray-1);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 1em;
}

.message{
  background: white;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin: 0;
}

.message-input{
  background: transparent;
  color: var(--clr-black);
  margin-left: 0.5em;
  border-radius: inherit;
  width: 90%;
  height: 100%;
  font-size: var(--fs-body);
}

.message-input:focus{
  outline: none;
}

.message-input::placeholder{
  color: var(--clr-gray-3);
}

.send-btn{
  border: none;
  background: transparent;
}

.send-icon{
  font-size: var(--fs-h2);
  margin: 0;
  color: var(--clr-black);
  transition: opacity 300ms linear;
}

.send-icon:hover{
  opacity: 0.65;
}

@media all and (min-width: 800px){
  .chat{
    flex-shrink: 0;
  }
}

@media all and (min-width: 1200px){
  .chat{
    width: 375px;
  }
}

/* bottom section */
.description{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
}

.description-title{
  font-weight: var(--fw-bold);
  margin-bottom: var(--space-md);
  transition: transform 350ms ease-in-out;
}

.description-title:hover{
  transform: scale(1.1);
  text-shadow: 0 0 1px var(--clr-gray-4);
}

.description-text{
  color: var(--clr-gray-4);
  transition: transform 350ms ease-in-out;
}

.description-text:hover{
  transform: scale(1.05);
}

@media all and (min-width: 800px){
  .description{
    max-width: 500px;
  }
}

/* Background Blob */
.background-blob{
  position: absolute;
  height: 650px;
  width: 450px;
  background: var(--clr-gradient-vertical);
  border-radius: 0 0 65% 65%;
  z-index: -1;
  top: -2rem;
  left: -10rem;
}

@media all and (min-width: 800px){
  .background-blob{
    width: 450px;
    border-radius: 0 0 75% 75%;
    left: -7rem;
  }
}